h1, h2 {
  font-family: acumin-pro-condensed, sans-serif;
  font-weight: 500;
  color: #245048;
}

.book-title {
  font-family: condor-compressed, sans-serif;
  font-weight: 300;
  color: #b6d1d3;
}

h3 {
  font-family: acumin-pro-condensed, sans-serif;
  font-weight: 500;
  color: #6b293c;
}

h4 {
  font-family: acumin-pro-condensed, sans-serif;
  font-weight: 500;
  color: #6b293c;
}

.bottom-border {
  position: relative;
  background-image: linear-gradient(180deg, #b6d1d3, #b6d1d3);
  background-repeat: no-repeat;
  background-position: 5px bottom;
  background-size: 100% 10px;
}

p {
  font-family: kepler-std-semicondensed, serif;
}

header, footer {
  background-color: #245048;
}

nav {
  border-top: .1em solid #b6d1d3;
  border-bottom: .1em solid #b6d1d3;
}

nav a {
  font-family: acumin-pro-condensed, sans-serif;
  text-decoration: none;
  color: #b6d1d3;
}

a {
  text-decoration: none;
}

.active {
  background-color: #b6d1d3;
}

.active a {
  color: #245048;
}

.home-banner {
  background-image: url("../images/tree.jpg");
  background-size: cover;
  min-height: 40em;
  background-position: center center;
}

.crinkle-banner {
  background-image: url("../images/crinkle-banner.jpg");
  background-size: cover;
  min-height: 20em;
  background-position: center center;
}

.linzer-banner {
  background-image: url("../images/linzer-banner.jpg");
  background-size: cover;
  min-height: 20em;
  background-position: center center;
}

.peanutbutter-banner {
  background-image: url("../images/peanutbutter-banner.jpg");
  background-size: cover;
  min-height: 20em;
  background-position: center center;
}

.brandysnaps-banner {
  background-image: url("../images/brandysnaps-banner.jpg");
  background-size: cover;
  min-height: 20em;
  background-position: center center;
}

.banner {
  background-color: rgba(255, 255, 255, .8);
}

.btn {
  background-color: #6b293c;
  color: #fff;
  border: none;
  border-radius: 3px;
  font-family: acumin-pro-condensed, sans-serif;
}

.btn:hover {
  background-color: #245048;
}

.card {
  border: .1em solid #245048;
  border-radius: 3px;
  margin: .75em;
}

.featured {
  border: .1em solid #b6d1d3;
  border-radius: 3px;
  margin: .75em;
}

.square {
  width: 100%;
  max-width: 320px;
}

footer {
  color: #b6d1d3;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer p {
  font-family: acumin-pro-condensed, sans-serif;
  font-weight: 500;
}

.social {
  max-width: 50px;
}

@media only screen and (min-width: 60em) {

  .social {
    max-width: 70px;
  }

}
