h1, h2 {
  font-family: acumin-pro-condensed, sans-serif;
  font-weight: 300;
  color: #245048;
}

.book-title {
  font-family: condor-compressed, sans-serif;
  font-weight: 300;
  color: #b6d1d3;
}

/* h2 {
  font-family: acumin-pro-condensed, sans-serif;
  font-weight: 300;
  color: #245048;
} */

h3 {
  font-family: acumin-pro-condensed, sans-serif;
  font-weight: 300;
  color: #6b293c;
}

p {
  font-family: kepler-std-semicondensed, serif;
}

header, footer {
  background-color: #245048;
}

nav {
  border-top: .1em solid #b6d1d3;
  border-bottom: .1em solid #b6d1d3;
}

nav a {
  font-family: acumin-pro-condensed, sans-serif;
  text-decoration: none;
  color: #b6d1d3;
}

a {
  text-decoration: none;
}

.active {
  background-color: #fff;
}

.home-banner {
  background-image: url("../images/tree.jpg");
  background-size: cover;
  min-height: 40em;
  background-position: center center;
}

.crinkle-banner {
  background-image: url("../images/crinkle-banner.jpg");
  background-size: cover;
  min-height: 20em;
  background-position: center center;
}

.linzer-banner {
  background-image: url("../images/linzer-banner.jpg");
  background-size: cover;
  min-height: 20em;
  background-position: center center;
}

.banner {
  background-color: rgba(255, 255, 255, .7);
}

.btn {
  background-color: rgba(36, 80, 72, .7);
  border: none;
  border-radius: 3px;
  font-family: acumin-pro-condensed, sans-serif;
  color: #fff;
}

.btn:hover {
  background-color: rgba(36, 80, 72, .7);
  color: #fff;
}

.card {
  border: .1em solid #245048;
  border-radius: 3px;
  margin: .5em;
}

.square {
  width: 100%;
  max-width: 320px;
}

footer {
  color: #b6d1d3;
}
